.hero{
    .logo{
        padding-left: 65px;
        position: absolute;
        top: 0;
        z-index: 2;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 8px);
        top: var(--swiper-pagination-top, auto);
        left: auto;
        width: fit-content;
        top: -20px;
        bottom: 0;
        gap: 22px;
        align-items: end;
        right: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-right: 50px;

        }
        .swiper-pagination-clickable .swiper-pagination-bullet{
            width: 15px;
            height: 15px;
            background: transparent;
            border: 2px solid #fff;
            opacity: 1;
        }
        .swiper-pagination-clickable .swiper-pagination-bullet-active{
            border-color: #139090;
            background: #139090;
        }

        .hero_btn_lists{
            display: flex;
            gap: 48px;
            position: absolute;
            bottom: 140px;
            z-index: 2;
            .slide_btn{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f3e1d2;
                transform: rotate(45deg);
                cursor: pointer;
                img{
                    width: 16px;
                }
            }
        }
    .content{
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
    }
    .hero_content{
        position: relative;
        .hero_left{
            display: flex;
            align-items: flex-end;
            padding-top: 160px;
            justify-content: space-between;
        }
        .top_title{
            font-size: 20px;
            letter-spacing: 5px;
            line-height: 70px;
            text-transform: uppercase;
            color: #1c80c5;
            font-weight: 500;
            font-family: "Muller Medium";            
        }
    
        .title{
            margin-top: 40px;
            margin-bottom: 40px;
            max-width: 811px;
            font-size: 50px;
            letter-spacing: 3px;
            line-height: 58px;
            text-transform: uppercase;
            color: #44a1a3;
            font-weight: 500;
            font-family: "Muller Medium";
        }
        .dscription{
            max-width: 680px;
            font-size: 22px;
            line-height: 100%;
            color: #197980;
            font-weight: 300;
            font-family: "Muller Light";
        }
        .button{
            text-decoration: none;
            padding: 0 27px;
            border-radius: 15px;
            background-color: #139090;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 70px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Roboto";
            text-align: center;
            margin-bottom: -65px;
        }
        .hero_img{
            width: 100%;
            object-fit: contain;
        }
    }
}
.static_analysis {
    padding-top: 120px;
    .section_title{
        margin-bottom: 45px;
        &.bottom{
            margin-top: 100px;
        }
    }
    .static_analysis_item {
        display: flex;
        justify-content: space-between;
        .static_analysis_info {
            width: calc(49% - 50px);
            .static_analysis_info_top {
                width: 190px;
                height: 8px;
                background: #71c5c4;
                margin-bottom: 40px;
                margin-left: auto;
                span {
                    display: block;
                    width: 40%;
                    height: 100%;
                    background: #d0e0e0;
                }
            }
            p {
                font-size: 24px;
                line-height: 38px;
                color: #f2f8fb;
                font-family: "Muller Regular";
                padding-right: 40px;
            }
        }
        img {
            width: calc(51% - 50px);
        }
        &.bottom{
            .static_analysis_info_top {
                margin-right: auto;
                margin-left: 0;
            }
            p{
                padding-left: 40px;
                text-align: left;
            }
        }
    }
}

.price {
    padding-top: 160px;

    .price_items {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }

    .price_item {
        width: calc(25% - 39px);

        .price_img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::after {
                content: '';
                width: 90px;
                height: 90px;
                display: block;
                border-radius: 50%;
                background-color: #1f7d79;
            }

            h3 {
                position: absolute;
                inset: 0;
                margin: auto;
                font-size: 18px;
                letter-spacing: 2px;
                height: fit-content;
                line-height: 32px;
                text-transform: uppercase;
                color: #f1f7fa;
                font-weight: bold;
                text-align: center;
            }
        }

        .price_description {
            font-size: 20px;
            line-height: 32px;
            color: #f1f7fa;
            font-family: "Muller Regular";
            text-align: center;
            margin-top: 20px;
        }
    }
}

// multimedia
.multimedia {
    padding-top: 160px;

    .multimedia_slides {
        position: relative;
        padding: 0 115px;
        margin-top: 51px;

        .swiper-slide {
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .sldie_btns {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        padding: 0 15px;

        .slide_btn {
            user-select: none;
            z-index: 3;
            width: 70px;
            height: 70px;
            position: relative;
            background: #1f7d79;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(45deg);
            cursor: pointer;

            &.prev {
                img {

                    transform: rotate(-45deg);
                }
            }

            &.next {
                img {

                    transform: rotate(135deg);
                }
            }
        }
    }

    .swiper-wrapper {
        overflow: hidden;
    }
}