@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import '../fonts/style.css';
.comments .reviews {
  margin-top: 40px;
  display: flex;
  background: white;
  padding: 30px 20px 80px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.comments .gic2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  gap: 20px;
  color: #000;
}
.comments .gic2 img {
  width: 20px;
}
.comments .gic2 span {
  background: linear-gradient(to right, #1c7c7c, #2b6ea3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
  font-family: "Muller Regular";
}
.comments .navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comments .navigation .navigation_btn {
  display: flex;
  align-items: center;
  gap: 16px;
}
.comments .navigation .navigation_btn .btn_nav {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2862745098);
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .navigation .navigation_btn .btn_nav img {
  width: 12px;
}
.comments .navigation .navigation_btn .btn_nav.prev {
  transform: rotate(180deg);
}
.comments .reviews__rating {
  width: 200px;
  padding-right: 20px;
  text-align: center;
  font-family: "Muller Regular";
}
.comments .reviews__rating p {
  margin-top: 16px;
  font-size: 14px;
  color: #000;
}
.comments .reviews__score {
  font-family: "Muller Regular";
  font-size: 26px;
  color: #000;
}
.comments .reviews__stars {
  color: gold;
  font-size: 20px;
}
.comments .reviews__btn {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  width: 100%;
  display: block;
  border: none;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0862745098);
}
.comments .swiper-container {
  flex: auto;
  overflow: hidden;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 80px;
  padding-top: 10px;
}
.comments .review {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.comments .review p {
  color: #000;
  font-family: "Muller Regular";
  margin-top: 27px;
}
.comments .review a {
  font-family: "Muller Regular";
  color: #000;
  padding-top: 20px;
  display: block;
}
.comments .review__user {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "Muller Regular";
}
.comments .review__user strong {
  font-size: 14px;
  line-height: 0.9;
}
.comments .review__user div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.comments .review__user div .reviews__stars {
  line-height: normal;
  font-size: 12px;
}
.comments .review__user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.comments .swiper-progress-bar {
  width: 100%;
  height: 4px;
  background: #ddd;
  margin-top: 0px;
  position: relative;
}
.comments .swiper-progress {
  height: 100%;
  background: #007aff;
  width: 0;
  transition: width 0.3s ease;
}

@font-face {
  font-family: "Muller Regular";
  src: url(../fonts/Muller-Trial-Regular.ttf);
}
@font-face {
  font-family: "Muller Black";
  src: url(../fonts/Muller-Trial-Black.ttf);
}
@font-face {
  font-family: "Muller";
  src: url(../fonts/Muller-Trial-Bold.ttf), format("truetype");
}
@font-face {
  font-family: "Muller Medium";
  src: url(../fonts/Muller-Trial-Medium.ttf);
}
@font-face {
  font-family: "Muller Light";
  src: url(../fonts/Muller-Trial-Light.ttf);
}
.hero .logo {
  padding-left: 65px;
  position: absolute;
  top: 0;
  z-index: 2;
}
.hero .swiper-horizontal > .swiper-pagination-bullets, .hero .swiper-pagination-bullets.swiper-pagination-horizontal, .hero .swiper-pagination-custom, .hero .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: auto;
  width: fit-content;
  top: -20px;
  bottom: 0;
  gap: 22px;
  align-items: end;
  right: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.hero .swiper-pagination-clickable .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
}
.hero .swiper-pagination-clickable .swiper-pagination-bullet-active {
  border-color: #139090;
  background: #139090;
}
.hero .hero_btn_lists {
  display: flex;
  gap: 48px;
  position: absolute;
  bottom: 140px;
  z-index: 2;
}
@media (max-width: 1400px) {
  .hero .hero_btn_lists {
    bottom: 90px;
  }
}
.hero .hero_btn_lists .slide_btn {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5e3d2;
  transform: rotate(45deg);
  cursor: pointer;
}
@media (max-width: 1400px) {
  .hero .hero_btn_lists .slide_btn {
    width: 65px;
    height: 65px;
  }
}
.hero .hero_btn_lists .slide_btn img {
  transform: rotate(132deg);
}
.hero .hero_btn_lists .slide_btn.next img {
  transform: rotate(-45deg);
}
.hero .hero_btn_lists .slide_btn img {
  width: 16px;
}
.hero .content {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.hero .hero_content {
  position: relative;
}
.hero .hero_content .hero_left {
  display: flex;
  align-items: flex-end;
  padding-top: 160px;
  justify-content: space-between;
}
.hero .hero_content .top_title {
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 70px;
  text-transform: uppercase;
  color: #1c80c5;
  font-weight: 500;
  font-family: "Muller Medium";
}
.hero .hero_content .title {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 811px;
  font-size: 50px;
  letter-spacing: 3px;
  line-height: 58px;
  text-transform: uppercase;
  color: #44a1a3;
  font-weight: 500;
  font-family: "Muller Medium";
}
@media (max-width: 1400px) {
  .hero .hero_content .title {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.hero .hero_content .dscription {
  max-width: 680px;
  font-size: 22px;
  line-height: 100%;
  color: #197980;
  font-weight: 300;
  font-family: "Muller Light";
}
.hero .hero_content .button {
  text-decoration: none;
  padding: 0 27px;
  border-radius: 15px;
  background-color: #139090;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: -65px;
}
.hero .hero_content .hero_img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .hero .hero_content .hero_img {
    width: 125%;
  }
}

.static_analysis {
  padding-top: 120px;
}
.static_analysis .section_title {
  margin-bottom: 45px;
}
.static_analysis .section_title.bottom {
  margin-top: 100px;
}
.static_analysis .static_analysis_item {
  display: flex;
  justify-content: space-between;
}
.static_analysis .static_analysis_item .static_analysis_info {
  width: calc(49% - 50px);
}
.static_analysis .static_analysis_item .static_analysis_info .static_analysis_info_top {
  width: 190px;
  height: 8px;
  background: #71c5c4;
  margin-bottom: 40px;
  margin-left: auto;
}
.static_analysis .static_analysis_item .static_analysis_info .static_analysis_info_top span {
  display: block;
  width: 40%;
  height: 100%;
  background: #d0e0e0;
}
.static_analysis .static_analysis_item .static_analysis_info p {
  font-size: 24px;
  line-height: 38px;
  color: #f2f8fb;
  font-family: "Muller Regular";
  padding-right: 40px;
}
.static_analysis .static_analysis_item img {
  width: calc(51% - 50px);
}
.static_analysis .static_analysis_item.bottom .static_analysis_info_top {
  margin-right: auto;
  margin-left: 0;
}
.static_analysis .static_analysis_item.bottom p {
  padding-left: 40px;
  text-align: left;
}

.price {
  padding-top: 160px;
}
.price .price_items {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.price .price_item {
  width: calc(25% - 39px);
}
.price .price_item .price_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.price .price_item .price_img::after {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  background-color: #1f7d79;
}
.price .price_item .price_img h3 {
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 18px;
  letter-spacing: 2px;
  height: fit-content;
  line-height: 32px;
  text-transform: uppercase;
  color: #f1f7fa;
  font-weight: bold;
  text-align: center;
}
.price .price_item .price_description {
  font-size: 20px;
  line-height: 32px;
  color: #f1f7fa;
  font-family: "Muller Regular";
  text-align: center;
  margin-top: 20px;
}

.multimedia {
  padding-top: 160px;
}
.multimedia .multimedia_slides {
  position: relative;
  padding: 0 115px;
  margin-top: 51px;
}
.multimedia .multimedia_slides .swiper-slide img {
  width: 100%;
  object-fit: contain;
}
.multimedia .sldie_btns {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  padding: 0 15px;
}
.multimedia .sldie_btns .slide_btn {
  user-select: none;
  z-index: 3;
  width: 70px;
  height: 70px;
  position: relative;
  background: #1f7d79;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  cursor: pointer;
}
.multimedia .sldie_btns .slide_btn.prev img {
  transform: rotate(-45deg);
}
.multimedia .sldie_btns .slide_btn.next img {
  transform: rotate(135deg);
}
.multimedia .swiper-wrapper {
  overflow: hidden;
}

.numbers {
  background: #1D8A8A;
  padding: 120px 0px;
}
.numbers .numbers_list {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 75px;
}
.numbers .numbers_item {
  background: #d4dcde;
  width: 100%;
  border-radius: 12px;
  padding: 20px 10px 80px;
  max-width: 285px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.numbers .numbers_item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 20px;
  background: #1D8A8A;
  border-radius: 50%;
}
.numbers .numbers_icon {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #278b87;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.numbers .numbers_icon img {
  width: 52px;
  height: auto;
}
.numbers .numbers_label {
  color: #2A4A4A;
  margin-top: 70px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  color: #259393;
  font-weight: 800;
  font-family: "Muller Black";
  text-align: center;
}
.numbers .numbers_value {
  font-size: 66px;
  color: #035758;
  font-weight: bold;
  margin-top: auto;
  font-family: "D-DIN Regular";
  margin-bottom: 0;
}
.numbers .numbers_value span {
  font-family: "D-DIN Regular";
}

footer {
  padding: 90px 0 160px;
  background: radial-gradient(circle, #136c75, #072e36);
  font-family: "Muller Regular";
  margin-top: 124px;
}
footer .section_title {
  color: #579c96;
}
footer .footer_item {
  position: relative;
  padding-bottom: 40px;
}
footer .footer_item::after {
  content: "";
  width: 161px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 0;
  background: #368283;
}
footer .footer_item p {
  text-align: center;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4d9091;
  text-align: center;
}
footer .footer_item a {
  color: #b8e0f2;
  text-decoration: none;
}
footer .footer_item .inn {
  margin-top: 36px;
  text-align: center;
}
footer .footer_item .owner {
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: center;
}
footer .footer_item .address {
  font-size: 24px;
  line-height: 21px;
  color: #84c4c4;
  text-align: center;
  margin-top: 40px;
}
footer .footer_item .phone,
footer .footer_item .email,
footer .footer_item .map {
  text-align: center;
  display: block;
  font-size: 24px;
  line-height: 21px;
  font-weight: 0;
  color: #84c4c4;
  text-align: center;
  margin-top: 20px;
}
footer .footer_item .phone a,
footer .footer_item .email a,
footer .footer_item .map a {
  text-decoration: underline;
  color: #84c4c4;
}
footer .footer_bottom ul:first-child {
  margin-top: 20px;
  text-align: center;
}
footer .footer_bottom ul:first-child li {
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  color: #84c4c4;
  font-family: "Muller Regular";
  text-align: center;
  margin-top: 25px;
}
footer .footer_bottom ul.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
footer .footer_bottom ul.social li {
  list-style: none;
}
footer .footer_bottom ul.social a {
  border-radius: 50%;
  display: flex;
  width: 54px;
  height: 54px;
  align-items: center;
  justify-content: center;
  background: #bfeae9;
}
footer .footer_bottom ul.social a img {
  width: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: "Muller";
  color: #f1f7fa;
  background: #278b87;
}

li {
  list-style: none;
}

.section_title {
  font-size: 44px;
  letter-spacing: 2px;
  line-height: 58px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Muller Regular";
  font-weight: 200;
}
.section_title span {
  color: #66f1e6;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

.text_light {
  color: #FFF;
}

.text_24 {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text_24._400 {
  font-weight: 400;
}

.reabilitation {
  padding-top: 160px;
}
.reabilitation .reabilitation_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-top: 55px;
}
.reabilitation .reabilitation_content p {
  font-size: 24px;
  line-height: 38px;
  color: #f1f7fa;
  font-family: "Muller Regular";
}/*# sourceMappingURL=settings.css.map */